.header {
    background: rgba(27,31,35,.7);
    width: 100%;
    height: 25%;
    color: white;
}

.contact {
    text-align: center;
    padding: 0.01vh;
    font-size: 2.0vh;
}

body {
    margin: 0;
    background-image: url('images/alki.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center, center;
}

h1 {
    text-align: center;
    font-family: Courier, monospace;
    font-weight: lighter;
    font-size: 6.0vh;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 0 6vh;
}

i {
    color: white;
}

i:hover {
    color: lightgrey;
}